OPENAI_API_KEY=sk-...
AWS_REGION=us-west-2
AWS_PROFILE=david
LUVA_STACK_NAME=LuvaStack
# Opcional: si no quieres resolver outputs desde CloudFormation
# LUVA_GENERATED_VIDEOS_BUCKET=
# LUVA_GENERATED_VIDEOS_TABLE=
LUVA_VIDEO_S3_PREFIX=generated-videos
LUVA_GENERATED_VIDEOS_BUCKET=luvastack-generatedvideosbucket83131fbc-an1g88ik0o0b
LUVA_GENERATED_VIDEOS_TABLE=LuvaStack-GeneratedVideosTable76ECBF53-1PQW1DELPZEU9